# Diretório do ambiente virtual
venv
 
# Arquivos gerados pelo Python
*.pyc
__pycache__/
 
# Diretório de migrações do Django (gerado automaticamente)
**/migrations/

# Arquivos de banco de dados local
db.sqlite3

# Arquivos de configurações específicas da IDE
.vscode/

# Arquivos de logs
*.log

# Arquivos de sistema do Windows
Thumbs.db
Desktop.ini

# Arquivos temporários
*.tmp
*.bak
*.swp

# Arquivos de configuração do sistema operacional
.DS_Store

# Arquivos de compilação
*.egg-info/
*.eggs/
*.coverage
*.coverage.*
.cache
